.App {
  font-family: 'Open Sans', sans-serif;
  /*padding-top: 38px;*/
}

.top-nav {
  background-color: #083d8c;

}

.top-nav .nav-link{
  color: #ffffff;
  font-size: 12px;
}

.fa-external-link{
  padding-left: 10px;
}


#water-image {
  height: 100px;
  width: 100%;
  display: block;
}
